<%- model_class = TodoList -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @todo_list.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @todo_list.description %></dd>
</dl>

<% if @todo_list.has_incomplete_items? %>
<h3>Incomplete Items:</h3>
<ul>
    <% @todo_list.todo_items.incomplete.each do |todo_item| %>
        <li><%= todo_item.content %></li>
    <% end %>
</ul>
<% end %>

<% if @todo_list.has_completed_items? %>
<h3>Completed Items:</h3>
<ul>
    <% @todo_list.todo_items.complete.each do |todo_item| %>
        <li><%= todo_item.content %></li>
    <% end %>
</ul>
<% end %>


<%= link_to t('.back', :default => t("helpers.links.back")),
              todo_lists_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_todo_list_path(@todo_list), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              todo_list_path(@todo_list),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
